/* seletor :nth-child() */
li:nth-child(2) {
    color: #f00;
}

li:nth-child(2n) {
    color: #00f;
}

li:hover {
    background: #999;
}

/* pseudo-elentos -> ::before e ::after */
li::before {
    content: "(antes)"
}

li::after {
    content: "(depois)";
}

li:first-child {
    color: rgb(255, 174, 0);
}

li:last-child {
    color: rgb(255, 0 ,179);
}

li:not(:first-child) {
    color: rgb(150, 74, 221);
}

